PORT=4000
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=legato_business_tracker
MONGODB_EVENTS_COLLECTION=events
CORS_ORIGIN=http://127.0.0.1:5173
